@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application is used for Eva Zhang's demo.</p>
<p>Any question please contact with me.</p>
<div>
	<br />
	<p>    Name: Eva Zhang</p>
	<p>   Email: evacheck@163.com</p>
	<p>Location: Shanghai, China</p>
</div>
